<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Gallery</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
	<div th:insert="header.html"></div>
	<div class="container-fluid">
	<div class="card">
		<div class="card-header bg-primary text-white text-center">
		<h4>Photo Gallery</h4>
		</div>
		<div class="card-body">
		<span th:each="imgname:${imgNameList}">
			<a th:href="@{'/img/'+${imgname}}" target="_blank">
			<img alt="" th:src="@{'/img/'+${imgname}}" width="300px" height="300px">
			</a>
		</span>
			
		
		</div>
		<div class="card-footer bg-warning text-white text-center" >copyright@2023</div>
	
	</div>
	
	
	
	</div>
</body>
</html>